body {
    font-family: Arial, sans-serif;
    background-color: #bd2626;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background: #000000;
    color: rgb(255, 123, 0);
 
    text-align: center;
}

nav {
    margin: 15px 0;
}

nav a {
    margin: 0 15px;
    color: rgb(200, 255, 0);
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

h2 {
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.table-container {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background: #ff7518;
    color: white;
}
